page-search {
    .session_text{
        color: #020202;
    }

    .etiqueta_input .text-input{
        text-align: right !important;
    }

    .picker-toolbar-button .picker-toolbar-cancel .button-inner{
        content: "Cancelar";
    }

    .picker-button .disable-hover .button-inner{
        content: "Listo"
    }

}
